<Router AppAssembly="typeof(_Imports).Assembly"
        AdditionalAssemblies="new[] { typeof(Ui._Imports).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
@*     <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(Simsa.Components.Layout.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound> *@
</Router>